@import './variables.scss';

.Toaster__manager-bottom-right {
  box-sizing: border-box;
  padding-bottom: 48px;
}

.Toaster__message-wrapper {
  padding-right: 16px;
  padding-bottom: 8px;
}

.toast__message__container {
  box-sizing: border-box;
  padding: 16px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.2s ease;

  &:hover {
    filter: brightness(95%);
  }
}

.toast__message {
  min-width: 288px;
  max-width: 288px;
  display: flex;
  flex-direction: column;

  .toast__title {
    font-size: 14px;
    font-weight: bold;
  }

  .toast__text {
    font-size: 14px;
    max-width: 288px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

.toast__button {
  height: 32px;
  width: 32px;
  border-radius: 16px;
  margin-left: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  cursor: pointer;
  transition: 0.2s ease;

  &:hover {
    background: rgba(0, 0, 0, 0.1);
  }
}

.toast__close {
  height: 16px;
  width: 16px;
}

.toast__product__container {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  padding-right: 16px;
  transition: 0.2s ease;

  &:hover {
    filter: brightness(95%);
  }
}

.toast__image__wrapper {
  height: 68px;
  width: 68px;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: 16px;
}

.toast__image {
  cursor: pointer;
  height: 68px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
